{% extends "template.html"%}

{% block title %}
CARGAR
{% endblock %}

{% block content %}

<div class="mx-auto" style="width: 400px;">
    <p class="text-primary">subir a la base de datos un csv semanal con datos siguientes actualizando
        así las tablas respectivas y actualizando la página web. Inciso 5 de problema enviado.</p>
    <div class="input-group mb-3">
        <form action="carga_csv/" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type="file" name="csv_file">
            <button type="submit" class="btn btn-primary">
                Subir CSV
            </button>
        </form>
    </div>
</div>

<div class="mx-auto" style="width: 400px;">
    <p class="text-primary">Cargar el Excel adjunto a un dataframe en Pandas y consolide por producto el máximo,
        mínimo y el promedio y debe exportarlo a un Excel el cuadro resumen, incluido en una
        pagina web. Inciso 7 de problema enviado.</p>
    <div class="input-group mb-3">
        <form action="carga_excel/" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <input type="file" name="excel_file">
            <button type="submit" class="btn btn-primary">
                Subir excel
            </button>
        </form>
    </div>
</div>
{% endblock %}